@import 'modules/base.css';

/* Component Styles */
@import 'modules/header.css';
@import 'modules/messages.css';
@import 'modules/input.css';
@import 'modules/history.css';
@import 'modules/menu.css';
@import 'modules/modal.css';
@import 'modules/settings.css';

/* Utility Styles */
@import 'modules/animations.css';
@import 'modules/shimmer.css';
@import 'modules/loader.css';

/* Responsive Styles */
@import 'modules/responsive.css';